@model IEnumerable<WebStore.Domain.DTO.OrderDTO>
@{
    ViewData["Title"] = "Orders";
}

<h3>Orders</h3>

<table border="1">
    <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">User Name</th>
            <th rowspan="2">Contact</th>
            <th colspan="2" scope="colgroup">Products</th>
        </tr>
        <tr>
            <th id="name">Name</th>
            <th id="quantity">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {

            int rowSpanInt = order.Items.Count() + 1;
            string rowSpan = rowSpanInt.ToString();

        <tr>
            <td rowspan="@rowSpan">@order.Id</td>
            <td rowspan="@rowSpan">@order.UserName</td>
            <td rowspan="@rowSpan">@order.Contact</td>
        </tr>

            @foreach (var item in order.Items)
            {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
            </tr>
            }
        }
    </tbody>
    </table>

